<app-card>
  <form
    [formGroup]="postForm"
    (ngSubmit)="onFormSubmit()"
    class="flex flex-col gap-5"
  >
    <!--  title form group  -->
    <div class="flex flex-col gap-2">
      <label for="title" class="text-2xl text-gray-600 font-medium"
        >Title</label
      >
      <input
        type="text"
        id="title"
        formControlName="title"
        class="border-2 border-gray-200 text-lg font-bold rounded py-2 px-3"
        [ngStyle]="{
          color: postForm.value.titleColor,
          backgroundColor: postForm.value.backgroundColor
        }"
      />
      <div
        *ngIf="
          postForm.controls.title.touched && postForm.controls.title.invalid
        "
        class="text-red-700"
      >
        <span *ngIf="postForm.controls.title.errors?.['required']"
          >Title is required.</span
        >
        <span *ngIf="postForm.controls.title.errors?.['minlength']"
          >Title should be at least 5 characters</span
        >
      </div>
    </div>

    <div class="flex gap-20">
      <!--  title color form group  -->
      <div class="flex flex-col gap-2">
        <label for="title" class="text-2xl text-gray-600 font-medium"
          >Title color</label
        >
        <input
          type="color"
          id="title-color"
          formControlName="titleColor"
          class="bg-gray-200 text-lg rounded py-2 px-3 h-12 w-28"
        />
        <div
          *ngIf="
            postForm.controls.titleColor.touched &&
            postForm.controls.titleColor.invalid
          "
          class="text-red-700"
        >
          <span *ngIf="postForm.controls.titleColor.errors?.['required']"
            >Title color is required.</span
          >
          <span *ngIf="postForm.controls.titleColor.errors?.['pattern']"
            >Title color should be a valid HEX color.</span
          >
        </div>
      </div>

      <!--  background color form group  -->
      <div class="flex flex-col gap-2">
        <label for="title" class="text-2xl text-gray-600 font-medium"
          >Background color</label
        >
        <input
          type="color"
          id="background-color"
          formControlName="backgroundColor"
          class="bg-gray-200 text-lg rounded py-2 px-3 h-12 w-28"
        />
        <div
          *ngIf="
            postForm.controls.backgroundColor.touched &&
            postForm.controls.backgroundColor.invalid
          "
          class="text-red-700"
        >
          <span *ngIf="postForm.controls.backgroundColor.errors?.['required']"
            >Background color is required.</span
          >
          <span *ngIf="postForm.controls.backgroundColor.errors?.['pattern']"
            >Background color should be a valid HEX color.</span
          >
        </div>
      </div>
    </div>

    <!--  author form group  -->
    <div class="flex flex-col gap-2">
      <label for="author" class="text-2xl text-gray-600 font-medium"
        >Author</label
      >
      <input
        type="text"
        id="author"
        formControlName="author"
        class="bg-gray-200 text-lg rounded py-2 px-3"
      />
      <div
        *ngIf="
          postForm.controls.author.touched && postForm.controls.author.invalid
        "
        class="text-red-700"
      >
        <span *ngIf="postForm.controls.author.errors?.['required']"
          >Author name is required.</span
        >
        <span *ngIf="postForm.controls.author.errors?.['minlength']"
          >Author name should be at least 3 characters</span
        >
      </div>
    </div>

    <!--  image form group  -->
    <div class="flex flex-col gap-2">
      <label for="image" class="text-2xl text-gray-600 font-medium"
        >Image link</label
      >
      <input
        type="url"
        id="image"
        formControlName="image"
        class="bg-gray-200 text-lg rounded py-2 px-3"
      />
      <div
        *ngIf="
          postForm.controls.image.touched && postForm.controls.image.invalid;
          else imagePreview
        "
        class="text-red-700"
      >
        <span *ngIf="postForm.controls.image.errors?.['required']"
          >Image link is required.</span
        >
        <span *ngIf="postForm.controls.image.errors?.['pattern']"
          >Image link should be a valid URL.</span
        >
      </div>
      <ng-template #imagePreview>
        <img
          *ngIf="postForm.value.image"
          [src]="postForm.value.image"
          alt="Image preview"
        />
      </ng-template>
    </div>

    <!--  content form group  -->
    <div class="flex flex-col gap-2">
      <label for="content" class="text-2xl text-gray-600 font-medium"
        >Content</label
      >
      <quill-editor
        id="content"
        [styles]="{
          height: '250px',
          fontSize: '1.25rem',
          lineHeight: '1.75rem',
          backgroundColor: postForm.value.backgroundColor
        }"
        formControlName="content"
      ></quill-editor>
      <div
        *ngIf="
          postForm.controls.content.touched && postForm.controls.content.invalid
        "
        class="text-red-700"
      >
        <span *ngIf="postForm.controls.content.errors?.['required']"
          >Content is required.</span
        >
        <span *ngIf="postForm.controls.content.errors?.['minlength']"
          >Content HTML should be at least 50 characters</span
        >
      </div>
    </div>
    <button
      type="submit"
      class="bg-gray-600 text-white text-xl font-medium tracking-wide px-4 py-2 rounded transition-all hover:bg-gray-700 hover:font-bold disabled:bg-gray-400 disabled:font-medium"
      [disabled]="postForm.invalid"
    >
      SUBMIT
    </button>
  </form>
</app-card>
