<nav class="py-4 text-white flex justify-between items-center">
  <a routerLink="/" class="font-bold text-gray-300 hover:text-gray-200">
    Generic CMS
  </a>
  <ul class="flex items-center gap-5 font-medium">
    <li>
      <a routerLink="/posts" class="underline-offset-2 hover:underline">
        All Posts
      </a>
    </li>
    <li>
      <a
        routerLink="/posts/new"
        class="bg-white text-gray-800 py-1 px-2 rounded transition drop-shadow-lg hover:drop-shadow-2xl inline-block hover:scale-105"
      >
        Create Post
      </a>
    </li>
  </ul>
</nav>
